.homeWrapper {
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.searchWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.cardsWrapper {
  display: flex;
  gap: 75px;
  flex-wrap: wrap;
}

.cardLink {
  color: inherit;
  text-decoration: none;
}
