@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/media.scss";

.detailsContainer {
  display: flex;
  align-items: center;
  gap: 120px;

  @include for-laptop {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.detailsSection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 598px;

  @include for-laptop {
    padding: 0 20px;
  }
}

.flag {
  height: 400px;
  width: 560px;
  border-radius: $border-radius-default;
  object-fit: cover;
}

.detailsColumns {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
}

.detailsColumn {
  display: flex;
  flex-direction: column;
  gap: $spacing-default;
}

.detailsTitle {
  margin-bottom: 23px;
  font-weight: 800;
  font-size: 32px;
}

.borderCountriesContainer {
  margin-top: 68px;
  display: flex;
  gap: $spacing-default;
  flex-wrap: wrap;
  align-items: center;
}

.borderCountries {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
