@import "../../../assets/styles/variables.scss";

.inputWrapper {
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 32px;
  top: 19px;
}

.input {
  width: 480px;
  padding: 18px 74px;
  border: none;
  box-shadow: $box-shadow-default;
  border-radius: $border-radius-default;
}
