@import "../../../assets/styles/variables.scss";

.selectWrapper {
  position: relative;
}

.iconArrowDown {
  position: absolute;
  right: 24px;
  top: 24px;
}

.select {
  padding: 18px 24px;
  border: none;
  border-radius: $border-radius-default;
  width: 200px;
  appearance: none;
  box-shadow: $box-shadow-default;
}
