@import "./assets/styles/variables.scss";
@import "./assets//styles/animations.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: $font-primary;
  font-style: normal;
  font-optical-sizing: auto;
}

body {
  background-color: $color-background-light;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

.dark-mode-primary {
  color: $color-text-light;
  background-color: $color-background-dark-primary;

  & .icon {
    filter: invert(100%);
  }
}

.dark-mode-secondary {
  color: $color-text-light;
  background-color: $color-background-dark-secondary;

  & .icon {
    filter: invert(100%);
  }

  &::placeholder {
    color: $color-text-light;
  }
}
