@import "../../../assets/styles/variables.scss";

.cardWrapper {
  display: flex;
  flex-direction: column;
  height: 336px;
  width: 264px;
  box-shadow: $box-shadow-default;
  background-color: $color-white;
  border-radius: $border-radius-default;
  overflow: hidden;
}

.flag {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.countryInfoSection {
  padding: 24px;
}

.countryTitle {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 16px;
}

.countryDetails {
  display: flex;
  flex-direction: column;
  gap: $spacing-default;
}
